

container {
padding-top: 0px;
width: 100%;
height: 100%;
position: absolute;
background-color: red;
}


article {
    background-color: white;
	float:left;
	width:60%;
	height:100%;
}

aside {
    	background-color: white;
	text-align:left;
	height:70%;
	
	
}

.block {
	background-color: white;

	height:10%;
}
table {
    width:10%;
	padding-top:15px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}



th, td {
    padding: 3px;
    text-align: center;
}
table tr:nth-child(even) {
    background-color: #fff;
}
table tr:nth-child(odd) {
   background-color:#fff;
}
table th {

    background-color: #006d2c;
    color: white;
}

text {
	text-align:left;
	   color:black;
}


#variableTBL {
	visibility:visible;
	
}
#help { color:red;}


#kuntaNimi{ color: grey;
font-size: 50px;
    padding-top: 50px;
 
    padding-bottom: 50px;

 }

.progress-container{width:35%;height:1.5em;position:inherit;float:right;background-color:white}
.progressbar{background-color:darkgreen;height:100%;position:inherit;float:left;padding-right:25px;line-height:inherit; color: #fff;}
.progressbarShadow{background-color:darkgreen;height:100%;opacity:0.6;position:inherit;float:left;padding-right:25px;line-height:height:1.8em; color: #fff;}

/* Make things perty */
html {  height: 100%;}
body { font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; size=13px;  height: 100%; padding-top: 2em; text-align: center;}
h1, h2{ margin: 0; padding-bottom:5px; }
h2:hover { text-shadow: 0 0 0.05em black; }

h2 { font-weight: 300}
input { border: 1px solid #666; background: #333; color: #fff; padding: 0.5em; box-shadow: none; outline: none !important; margin: 1em  auto; text-align: center;}
 
