
<<<<<<< HEAD
body, html {
	

	
	
}	


input[type="text"] {
    font-size:34px;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	border-bottom-width: 3px;
	background-color: white;
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 40px;
}

#pageContent {
	padding-top: 5%;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	width: 1500px;
    height: 750px;
	position: relative;
		
}



#userInput {
	float: left;
	background-color:  white;
	height: 10%;
	width: 100%;
	
}


#textInput {
	
	float: left;
	padding-top: 5px;
	padding-left: 25%;
	width: 100%;
	font-size: 200%;
}
#buttons {
	background-color:white;
	float: left;
	
	width: 100%;
	padding-left: 30%;
	padding-top: 2%;
}



#boxContainer {
	width: 50%;
	height: 30%;
	float:left;
	margin-left: 25%;
	background-color: white;
	margin-top: 3%;
}

.article {
    text-align: left;
	float: left;
	width: 90%;
    height: 60%;
	margin-left: 14%;
}
.plotContainer {
	width: 100%;
    height: 100%;	
}

.content {
	width: 100%;
	float: left;
    height: 75%;
	padding-top: 5%;
}




.button {

	width: 10%;
	margin: 5px;
	border: 1px solid #E6E6E6;
	
	height:25px;

	color:#fff;
	padding-right:2px;
	background-color:#286090;
	border-color:#122b40;
	float:left;
	text-align:center;
=======


.buttons {
background-color:white;
padding-left:35%;
padding-bottom:4%;
padding-top:1%;
}


.button {



border: 1px solid #E6E6E6;
width:15%;
height:25px;

color:#fff;
padding-right:2px;
background-color:#286090;
border-color:#122b40;
float:left;
text-align:center;
>>>>>>> 6033a6468308d9ea844e9531b6134b8f4f46d8c1
}

.button.check {
background-color:white;
color:black;}

.button:hover {

border: 4px solid #286090;

}
<<<<<<< HEAD





=======
#kokoPaska {
	background-color: white;
}


.userInput {
	width: 100%;
    height: 50px;
	background-color:  #4CAF50;
	padding-top:50px;
	padding-left:20%;
	
}
.userInputText {
	text-align:center;
	font-size:25px;
	font-family: "Times New Roman", Times, serif;
	background-color:  white;
	
	
}

.article {
    text-align: left;
	width: 100%;
    height: 100%;
}
>>>>>>> 6033a6468308d9ea844e9531b6134b8f4f46d8c1
.info { text-align: left;}

header {background: black;color:white;}
footer {background: #aaa;color:white;}
<<<<<<< HEAD

=======
>>>>>>> 6033a6468308d9ea844e9531b6134b8f4f46d8c1
.nav {background:#eee; }

.nav ul {
    list-style-type: none;
    padding: 0;
}
.nav ul a {
    text-decoration: none;
}



<<<<<<< HEAD


 
 .box {
	width:21%;
	height:40%;
=======
.content {
	width: 1300px;
    height: 500px;
	

 }
 
.container {
	width: 100%;
    height: 100%;

 }

 #boxContainer {
	width: 40%;
    height: 80%;
	float:right;
	background-color: white;
 }
 
 .box {
	width:21%;
	height:15%;
>>>>>>> 6033a6468308d9ea844e9531b6134b8f4f46d8c1
	background-color: white;
	text-align:center;
	position: relative;
    top: 5%;
    left: 5%;

	margin-left:10px;
	margin-top:10px;

	
	display: inline-block;
	border-radius: 3px 3px 3px 3px;
	border-color:black;
	 border: 1px solid #E6E6E6;
	
 }

 .box-figure {
 font-size:200%;
	display: inline-block;
	border-radius: 3px 3px 3px 3px;
 
 }
  .box-header {
	font-size:100%;
	color:white;
	background-color: #337ab7;
 }
 

.placeholder {
<<<<<<< HEAD
    width: 80%;
=======
    width: 60%;
>>>>>>> 6033a6468308d9ea844e9531b6134b8f4f46d8c1
    height: 80%;
    font-size: 14px;
	background-color: white;
	
    line-height: 1.2em;
    float: left; /*<-- ADD THIS*/
}

#legend-container {
    background-color: #fff;
    padding: 2px;
    margin-bottom: 8px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #E6E6E6;
    display: inline-block;
    margin: 0 auto;
	width:100%px;
	
}
.flot-x-axis .flot-tick-label {
    white-space: nowrap;
    transform: translate(-9px, 0) rotate(-90deg);
    text-indent: -100%;
	
    transform-origin: top right;
    text-align: right !important;

}