
.container {

    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Georgia", "Arial";
}

.headerbar {
    width: 100%;
    height: auto;
    background-color: steelblue;
    border: 1px solid grey;
    font-size: 120;
    color: white;
    text-align: right;
    margin-bottom: 1%;
}

.headerbar i {
    padding: 2%;


}
/* Options */
.options-container {
    height: auto;
    width: 100%;
    margin-bottom: 1%;
    margin-top: 1%;
    background-color: white;
    font-size: 80;
    color: black;
}
.options-buslist-item {

    font-size: 100;
    color: white;
    background-color: steelblue;
    padding: 5px;
    margin: 1%;
    display: inline;
    text-align: center;
}

/* Departurebars */
.departure {
    background-color: darkcyan;
    color: white;
    font-size: 120;
    float: left;
    margin-bottom: 1%;
    margin-top: 1%;
    width: 100%;
}

.departure-bus-number {
    color: white;
    font-weight: 200;
    display: inline;
    
    font-style: italic;
    margin-left: 20%;
    text-align: center;

}
.departure-departure-time {
    float: right;
    margin-right: 20%;
    display: inline;
}

/* All purpose */

.hidden {

    display: none;
}