

.container {
	
	margin-left:30%;
}

.statusBox  {
    width: 250px;
    height: 15%;
 
	margin-top: 5%;
    border: 1px solid ;  
	border-radius: 25px;
	background: #009933;
	
	
  }
  

.resultText {
	font-family: Arial, Helvetica, sans-serif;
	display:block;
	border:none;
	width: 50%;
	margin-left: 0%;
	margin-top: 20%;
	font-size: 200%;
}



.statusInput:hover {
	border:2px solid;
	border-color: black;
	border-radius: 2px;
	 border-radius:10px;
}


.resultText {
	font-family: Arial, Helvetica, sans-serif;
	display:block;
	border:none;
	width: 30%;
	
	margin-top: 20%;
	font-size: 200%;
}

.backButton {
	 border-radius:16px;
	 border:2px solid;
	 text-align: center;
	 font-weight: 50;
	border-color: black;
	width: 8%;
	height: 4%;
	background-color: red;
}