
.colorChooser {
	
	margin: 1%;
	display: inline;
	
}


.container {
	
	margin-left:0%;
}


.statusBox  {
    width: 250px;
    height: 15%;
	margin-left: 35%;
	margin-top: 2%;
    border: 0px solid ;  
	border-radius: 25px;
	background: #3973ac;
	
	
}



.statusBoxHeader {
	text-align: center;
	
	width: 75%;
	margin-left: 10%;
	padding-top: 13%;
	height: 12%;
	font-size: 250%;
	color: white;
	background-color: inherit;
    font-family: Quicksand, Helvetica, sans-serif;
}


.resultText {
	font-family: Rasa, Helvetica, sans-serif;
	display:block;
	border:none;
	width: 50%;
	margin-left: 20%;
	font-size: 200%;
}

.resultRow {
	font-size: 80%;
	padding: 0;
	margin:0;
	text-align: left;
}

.statusInput {
	text-align: center;
	position: relative;
	margin-top: 0%;
	width: 30%;
	margin-left: 30%;
	font-size: 220%;
	border: 1px solid;
	border-radius: 25px;
	color: white;
		background: #3973ac;
	
    font-family: Arial, Helvetica, sans-serif;

}

.statusInput:hover {
	border:2px solid;
	border-color: black;
	border-radius: 2px;
	 border-radius:10px;
}
.statusInput:focus {
	 outline: none;
}


.backButton {
	 
	width: 15%;
	height: 8%;
	background-color: white;
}
.backButton img {
	
	visibility: inherit;
	height: 50px;
	width: 50px;
}

