

body, html {

	  
	font-family: Avantgarde, sans-serif;
}




#content {
	width:40%;
	height: 100%;
	float:left;
	margin-left: 10%;
}

#year {
	width:25%;
	height: 20%;
	float:right;
	margin-right: 5%;
	margin-top: 5%;
}
 
#figures {
	
	width: 40%;
	height: 20%;
	float: right;
	margin-bottom: 5%;
	margin-right: 6%;

}
#lineChart {
	float: right;
	height: 25%;
	width: 25%;
	margin-right: 25%;
	margin-top: 5%;
 }

.infoYear {
	
	padding-top:10%;
	font-size: 50;
}


 
 .figBox {
	 height: 100%;
	 width: 35%;
	 float: right;
	 background-color: white;
	 margin-right: 6%;
	 margin-top: 10%;
	 border-radius: 8px;
	 border-color: white;
	 border-style: solid;
	 border-width: 1;
	 padding: 15px;
 }
 .figText {
	 text-align: center;
	 font-size: 25;
	 font-family: inherit;
	 color: grey;
 }
 .figure {
	 text-align: center;
	 font-size: 70;
	 color: black;
	 font-family: inherit;
 }
 
 

 
.lineChart path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

 
 
 
 
