

.animalButton {
	width: 40%;
}

.animalButton img {
	
	visibility: inherit;
	height: 100px;
	width: 100px;


}
/*
.animalButton img:hover {
	
	visibility: inherit;
	height: 150px;
	width: 150px;

}
*/
.animalButton img:active {
	
	visibility: inherit;
	height: 100px;
	width: 100px;


}



.count {
	
	float: right;
	width: 5%;
	margin-right: 10%;
	font-size: 200%;
	font-family: Quicksand;
}