body {font-family: Quicksand;}


.animalSelectorContainer {
	width: 15%;

	font-size: 90%;
	margin: 10px;
	padding: 5px;
	
	display: inline-block

}

.animalSelector {
	background-color: #f0f5f5;

	width: 100%;
	font-size: 100%;
	margin: 5px;
	padding: 5px;
	
	
}

.selectedAnimal {
	
	border: 5px;
	background-color: #47d147;
	color: white;
}

.animalSelector:hover {
	
	border: 2px solid;
	background-color: #47d147;
	color: white;

}
.animalSelectorCountInputContainer {
	
	float: right;
	
	position: sticky;
	top: 50%;
	right: 60%;

	
	
	
}
.animalSelectorCountInput {
	
	height: 50px;
	border: 0px;
	font-size: 200%;
	font-family: Quicksand
	
	
}


.animalImage {
	
	float: right;
	
	position: sticky;
	top: 10%;
	right: 60%;
	height: 200px;
	width: 200px;
	
}

.animalButton {
	width: 40%;
	margin: 5%;
}

.animalButton img {
	
	visibility: inherit;
	height: 200px;
	width: 200px;



}
/*
.animalButton img:hover {
	

	background-color: #b3ffb3;

}
*/
.animalButton img:active {
	
	visibility: inherit;
	height: 150px;
	width: 150px;


}


.countContainer {
	
	float: right;
	width: 30%;
	margin-right: 10%;
	font-size: 900%;
	font-family: Quicksand;
	
	position: sticky;
	top: 10%;
	right: 10%;
}


.countHeader {
		

	font-size: 50%;
	font-family: Quicksand;
	padding-bottom: 5px;
	margin: 10;
}

.countText {
	
	font-size: 90%;
	font-family: Quicksand;
	margin: 10;
	margin-top: 40;
}

.addedAnimal {
	font-size: 30%;
	font-family: Quicksand;
	opacity: 80;
	padding: 0;
	margin: 0;
}





/* Style the tab */



div.tab {
     position: sticky;
	top: 0;
    border: 1px solid #ccc;
    background-color: #c2c2a3;
	
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
	color: white;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #00cc00;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
	
}